<div class="flex flex-col w-full">
  <div class="relative mb-4">
    <nz-divider
      [nzText]="'transactions.title' | translate"
      nzOrientation="left"
    ></nz-divider>
    <div class="absolute right-0 top-4 py-0 px-[15px] flex items-center gap-2">
      <nz-input-group
        nzSearch
        [nzSuffix]="inputClearTpl"
        [nzAddOnAfter]="suffixIconButton"
      >
        <input
          [(ngModel)]="searchText"
          (ngModelChange)="handleSearchTextChange($event)"
          type="text"
          mask="separator.2"
          thousandSeparator=" "
          nz-input
          [placeholder]="'transactions.search' | translate"
          (keyup.enter)="handleSearch(searchText)"
        />
      </nz-input-group>

      <ng-template #inputClearTpl>
        <span
          nz-icon
          class="ant-input-clear-icon"
          nzTheme="fill"
          nzType="close-circle"
          [hidden]="!searchText"
          (click)="clear()"
        ></span>
      </ng-template>

      <ng-template #suffixIconButton>
        <button
          (click)="handleSearch(searchText)"
          nz-button
          nzType="primary"
          nzSearch
        >
          <span nz-icon nzType="search"></span>
        </button>
      </ng-template>
      <button
        (click)="add()"
        nz-button
        nzType="primary"
        class="flex items-center justify-center"
      >
        <span nz-icon nzType="plus" nzTheme="outline"></span>
      </button>
    </div>
  </div>

  <nz-table
    #basicTable
    [nzSize]="'middle'"
    [nzData]="data || []"
    [nzLoading]="isLoading"
    [nzPageSizeOptions]="pages.pageSizeOptions"
    (nzPageIndexChange)="handelPageIndex($event)"
    (nzPageSizeChange)="handlePageSize($event)"
    [nzPageIndex]="pages.pageIndex"
    [nzPageSize]="pages.pageSize"
    [nzTotal]="pages.all"
    nzBordered
  >
    <thead>
      <tr>
        <th nzWidth="35%" [nzAlign]="'center'">
          {{ "transactions.amountPaid" | translate }}
        </th>
        <th nzWidth="20%" [nzAlign]="'center'">
          {{ "transactions.time" | translate }}
        </th>
        <th nzWidth="20%" [nzAlign]="'center'">
          {{ "transactions.acception" | translate }}
        </th>
        <th [nzAlign]="'center'">{{ "sections.operations" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td [nzAlign]="'center'">{{ data.amountPaid | number }} {{ "sum" | translate }}</td>
        <td [nzAlign]="'center'">{{ data.createdAt | date : "medium" }}</td>
        <td [nzAlign]="'center'">
          <ng-container *ngIf="data.employerAccepted; else notAccepted">
            <div class="flex items-center gap-1 justify-center">
              <p>{{ "transactions.accepted" | translate }}</p>
              <span nz-icon nzType="check-circle" nzTheme="twotone"></span>
            </div>
          </ng-container>
          <ng-template #notAccepted>
            <div class="flex items-center gap-1 justify-center">
              <p>{{ "transactions.notAccepted" | translate }}</p>
              <span nz-icon nzType="close-circle" nzTheme="twotone"></span>
            </div>
          </ng-template>
        </td>
        <td [nzAlign]="'center'">
          <div class="flex items-center gap-x-3 justify-center">
            <button
              nz-button
              nzType="primary"
              [disabled]="data.employerAccepted"
              nzDanger
              class="flex items-center justify-center"
              (click)="
                data.employerAccepted ? null : showDeleteConfirm(data._id)
              "
            >
              <span nz-icon nzType="delete" nzTheme="outline"></span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<employee-add-edit-transactions
  [(isVisible)]="isVisible"
  (submitted)="getDatas()"
></employee-add-edit-transactions>
