<div class="flex flex-col w-full">
  <div class="relative mb-4">
    <nz-divider nzText="Products" nzOrientation="left"></nz-divider>
    <div
      class="absolute right-0 top-4 py-0 px-[15px] flex items-center gap-2"
    >
      <input type="text" nz-input placeholder="search..." />
      <button [routerLink]="['add']" nz-button nzType="primary">Add</button>
    </div>
  </div>

  <nz-table
    #basicTable
    [nzData]="(data) || []"
    [nzLoading]="isLoading"
    nzBordered
    [nzSize]="'middle'"
    [nzPageSizeOptions]="pages.pageSizeOptions"
    (nzPageIndexChange)="handlePageIndexChange($event)"
    (nzPageSizeChange)="handlePageSizeChange($event)"
    [nzFrontPagination]="false"
    [nzPageIndex]="pages.pageIndex"
    [nzPageSize]="pages.pageSize"
    [nzTotal]="pages.all"
    nzShowSizeChanger
    
  >
    <thead>
      <tr>
        <th nzWidth="10%" [nzAlign]="'center'">Code</th>
        <th nzWidth="35%" [nzAlign]="'center'">Name</th>
        <th nzWidth="20%" [nzAlign]="'center'">Price</th>
        <th nzWidth="10%" [nzAlign]="'center'">Quantity</th>
        <th nzWidth="10%" [nzAlign]="'center'">Unit</th>
        <th [nzAlign]="'center'">Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td [nzAlign]="'center'">{{ data.code }}</td>
        <td [nzAlign]="'center'">{{ data.name }}</td>
        <td [nzAlign]="'center'">{{ data.price }}</td>
        <td [nzAlign]="'center'">{{ data.qty }}</td>
        <td [nzAlign]="'center'">{{ data.unit }}</td>

        <td [nzAlign]="'center'">
          <div class="flex items-center gap-x-3 justify-center">
            <button
              nz-button
              nzType="default"
              class="flex items-center justify-center"
              [routerLink]="['edit', data._id]"
            >
              <span nz-icon nzType="edit" nzTheme="outline"></span>
            </button>
            <button
              nz-button
              nzType="primary"
              nzDanger
              class="flex items-center justify-center"
              (click)="showDeleteConfirm(data._id)"
            >
              <span nz-icon nzType="delete" nzTheme="outline"></span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<!-- <nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Add Product"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading"
>
  <div *nzModalContent>add modal content</div>
</nz-modal> -->
