<div class="flex flex-col w-full">
  <div class="relative mb-4">
    <nz-divider
      [nzText]="'markets.title' | translate"
      nzOrientation="left"
    ></nz-divider>
    <div class="absolute right-0 top-4 py-0 px-[15px] flex items-center gap-2">
      <nz-input-group
        nzSearch
        [nzSuffix]="inputClearTpl"
        [nzAddOnAfter]="suffixIconButton"
      >
        <input
          [(ngModel)]="searchText"
          (ngModelChange)="handleSearchTextChange($event)"
          type="text"
          nz-input
          [placeholder]="'markets.search' | translate"
          (keyup.enter)="handleSearch(searchText)"
        />
      </nz-input-group>

      <ng-template #inputClearTpl>
        <span
          nz-icon
          class="ant-input-clear-icon"
          nzTheme="fill"
          nzType="close-circle"
          [hidden]="!searchText"
          (click)="clear()"
        ></span>
      </ng-template>
      <ng-template #suffixIconButton>
        <button
          (click)="handleSearch(searchText)"
          nz-button
          nzType="primary"
          nzSearch
        >
          <span nz-icon nzType="search"></span>
        </button>
      </ng-template>
      <button
        [routerLink]="['add']"
        nz-button
        nzType="primary"
        class="flex items-center justify-center"
      >
        <span nz-icon nzType="plus" nzTheme="outline"></span>
      </button>
    </div>
  </div>

  <nz-table
    #basicTable
    [nzData]="data || []"
    [nzLoading]="isLoading"
    nzBordered
    [nzSize]="'middle'"
    [nzPageSizeOptions]="pages.pageSizeOptions"
    (nzPageIndexChange)="handlePageIndexChange($event)"
    (nzPageSizeChange)="handlePageSizeChange($event)"
    [nzFrontPagination]="false"
    [nzPageIndex]="pages.pageIndex"
    [nzPageSize]="pages.pageSize"
    [nzTotal]="pages.all"
    nzShowSizeChanger
  >
    <thead>
      <tr>
        <th nzWidth="20%" [nzAlign]="'center'">
          {{ "markets.title" | translate }}
        </th>
        <th nzWidth="15%" [nzAlign]="'center'">
          <div class="flex items-center justify-center gap-1">
            <p>{{ "sections.phone" | translate }}</p>
            <span nz-icon nzType="phone" nzTheme="twotone"></span>
          </div>
        </th>
        <th nzWidth="20%" [nzAlign]="'center'">
          <div class="flex items-center justify-center gap-1">
            <p>{{ "markets.debt" | translate }}</p>
            <span nz-icon nzType="dollar" nzTheme="twotone"></span>
          </div>
        </th>
        <th nzWidth="25%" [nzAlign]="'center'">
          {{ "markets.address" | translate }}
        </th>
        <th nzWidth="10%" [nzAlign]="'center'">
          {{ "markets.orders" | translate }}
        </th>
        <th [nzAlign]="'center'">{{ "sections.operations" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td [nzAlign]="'center'">{{ data.market_name }}</td>
        <td [nzAlign]="'center'">{{ data.phone_number }}</td>
        <td [nzAlign]="'center'">
          {{ data.debt | number }} {{ "sum" | translate }}
        </td>
        <td [nzAlign]="'center'">{{ data.location }}</td>
        <td [nzAlign]="'center'">
          <button nz-button nzType="link" [routerLink]="['orders', data._id]">
            <span nz-icon nzType="link" nzTheme="outline"></span>
          </button>
        </td>
        <td [nzAlign]="'center'">
          <div class="flex items-center gap-x-3 justify-center">
            <button
              nz-button
              nzType="default"
              class="flex items-center justify-center"
              [routerLink]="['edit', data._id]"
            >
              <span nz-icon nzType="edit" nzTheme="outline"></span>
            </button>
            <button
              nz-button
              nzType="primary"
              nzDanger
              class="flex items-center justify-center"
              (click)="showDeleteConfirm(data._id)"
            >
              <span nz-icon nzType="delete" nzTheme="outline"></span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
