<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="m-4 bg-white px-1 py-1 rounded-5">
      <img
        [src]="
          isCollapsed
            ? '../../../assets/icons/Logo-con.svg'
            : '../../../assets/icons/Logo.svg'
        "
        class="h-[38px]"
        alt="Logo"
      />
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li
        nz-menu-item
        [routerLink]="['dashboard']"
        routerLinkActive="ant-menu-item-selected"
      >
        <span
          nz-icon
          nzType="dashboard"
          nzTheme="outline"
          class="text-white"
        ></span>
        <span>{{ "dashboard" | translate }}</span>
      </li>
      <li
        nz-menu-item
        [routerLink]="['employees']"
        routerLinkActive="ant-menu-item-selected"
      >
        <span nz-icon nzTheme="outline">
          <img
            src="../../../assets/icons/users.svg"
            alt="admins"
            width="15px"
            height="15px"
          />
        </span>
        <span>{{ "employee.title" | translate }}</span>
      </li>
      <li
        nz-menu-item
        [routerLink]="['products']"
        routerLinkActive="ant-menu-item-selected"
      >
        <span nz-icon nzTheme="outline">
          <img
            src="../../../assets/icons/products.svg"
            alt="products"
            width="15px"
            height="15px"
          />
        </span>
        <span>{{ "products.title" | translate }}</span>
      </li>
      <li
        nz-menu-item
        [routerLink]="['markets']"
        routerLinkActive="ant-menu-item-selected"
      >
        <span nz-icon nzTheme="outline">
          <img
            src="../../../assets/icons/markets.svg"
            alt="markets"
            width="15px"
            height="15px"
          />
        </span>
        <span>{{ "markets.title" | translate }}</span>
      </li>
      <li
        nz-menu-item
        [routerLink]="['balances']"
        routerLinkActive="ant-menu-item-selected"
      >
        <span nz-icon nzTheme="outline">
          <span
            nz-icon
            nzType="history"
            class="text-white"
            nzTheme="outline"
          ></span>
        </span>
        <span>{{ "balances.title" | translate }}</span>
      </li>
      <!-- <li
        nz-menu-item
        [routerLink]="['settings']"
        routerLinkActive="ant-menu-item-selected"
      >
        <span nz-icon nzTheme="outline">
          <span
            nz-icon
            nzType="setting"
            class="text-white"
            nzTheme="outline"
          ></span>
        </span>
        <span>Settings</span>
      </li> -->
    </ul>
  </nz-sider>
  <nz-layout class="flex flex-col">
    <nz-header class="!px-4">
      <div class="flex items-center justify-between h-full">
        <span
          class="hover:text-blue-600 cursor-pointer"
          nz-icon
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          (click)="isCollapsed = !isCollapsed"
        ></span>

        <div class="flex items-center gap-x-6">
          <p class="font-medium">
            {{ "balance" | translate }}: {{ getFormattedBalance() | number }}
            {{ "sum" | translate }}
          </p>
          <!-- <button nz-button class="border-none p-0">
            <nz-badge
              [nzCount]="overallNotifications"
              nz-popover
              nzPopoverTitle="Notifications"
              [nzPopoverContent]="contentTemplate"
              nzPopoverPlacement="bottom"
            >
              <span
                style="font-size: 24px"
                nz-icon
                nzType="bell"
                nzTheme="outline"
              ></span>
            </nz-badge>
          </button>

          <ng-template #contentTemplate>
            <div>
              <a>New transactions</a>
            </div>
          </ng-template> -->

          <div>
            <app-language></app-language>
          </div>

          <p class="h-fit font-medium">
            <!-- {{ tokenInfo.role == "employer" && "Admin" }} -->
          </p>
          <button
            nz-button
            nzSize="default"
            class="flex items-center"
            nzType="primary"
            (click)="logOut()"
          >
            <span nz-icon nzType="logout" nzTheme="outline"></span>
            <span>{{ "logOut" | translate }}</span>
          </button>
        </div>
      </div>
    </nz-header>
    <nz-content class="h-full">
      <div class="!h-[22px] !my-3">
        <nz-breadcrumb
          *ngIf="showBreadCrumb"
          [nzAutoGenerate]="true"
          [nzRouteLabel]="'breadcrumbWithTranslate'"
          [nzRouteLabelFn]="translateFn"
        >
        </nz-breadcrumb>
      </div>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>SKLAD CRM ©2023 Created By Imcon Group</nz-footer>
  </nz-layout>
</nz-layout>
