<div class="flex flex-col w-full">
  <div class="relative mb-4">
    <nz-divider
      [nzText]="'markets.market_orders' | translate"
      nzOrientation="left"
    ></nz-divider>
  </div>

  <nz-table
    #groupingTable
    nzSize="middle"
    [nzData]="data || []"
    [nzLoading]="isLoading"
    [nzPageSizeOptions]="pages.pageSizeOptions"
    (nzPageIndexChange)="handlePageIndexChange($event)"
    (nzPageSizeChange)="handlePageSizeChange($event)"
    [nzFrontPagination]="false"
    [nzPageIndex]="pages.pageIndex"
    [nzPageSize]="pages.pageSize"
    [nzTotal]="getQtyOrders()"
    nzBordered
  >
    <thead>
      <tr>
        <th nzWidth="20%" nzAlign="center">
          {{ "markets.title" | translate }}
        </th>
        <th nzWidth="30%" nzAlign="center">
          <div class="flex items-center gap-1 justify-center">
            <p>{{ "sections.paid" | translate }}</p>
            <span nz-icon nzType="dollar-circle" nzTheme="twotone"></span>
          </div>
        </th>
        <th nzWidth="30%" nzAlign="center">
          <div class="flex items-center gap-1 justify-center">
            <p>{{ "sections.total" | translate }}</p>
            <span nz-icon nzType="dollar-circle" nzTheme="twotone"></span>
          </div>
        </th>
        <th nzWidth="10%" nzAlign="center">
          {{ "products.title" | translate }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of groupingTable.data; let i = index">
        <td nzAlign="center">{{ order.client_name || order.client_type }}</td>
        <td nzAlign="center">
          {{ order.paid | number }} {{ "sum" | translate }}
        </td>
        <td nzAlign="center">
          {{ order.totalAmount | number }} {{ "sum" | translate }}
        </td>
        <td nzAlign="center">
          <button
            nz-button
            nzType="link"
            [routerLink]="['order', order._id]"
            class="flex items-center justify-center mx-auto"
          >
            <span nz-icon nzType="link" nzTheme="outline"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
