<a (click)="goBack()" class="flex items-center gap-2 font-bold text-xs mb-5">
  <!-- NAVIGATE TO BACK -->
  <span nz-icon nzType="arrow-left" nzTheme="outline"></span>
  {{ isEdit ? "Edit" : "Add" }}</a
>

<form [formGroup]="form" nzLayout="vertical" nz-form class="py-4">
  <div class="flex flex-col w-2/5 mx-auto max-[789px]:w-4/5 max-[992px]:w-3/5">
    <div nzSpan="12">
      <!--FULL NAME -->
      <nz-form-item class="gap-2">
        <nz-form-label nzFor="fullname">Full Name</nz-form-label>
        <nz-form-control [nzErrorTip]="fullNameError">
          <input
            nz-input
            name="fullname"
            formControlName="fullname"
            type="text"
            id="fullname"
          />
        </nz-form-control>
        <ng-template #fullNameError let-control>
          <ng-container *ngIf="control.getError('required')">
            Required field!
          </ng-container>
          <ng-container *ngIf="control.getError('minLength')">
            Required at least 3 characters!
          </ng-container>
        </ng-template>
      </nz-form-item>

      <!-- PHONE NUMBER -->
      <nz-form-item class="gap-2">
        <nz-form-label nzFor="phone_number">Phone number</nz-form-label>
        <nz-form-control [nzErrorTip]="phoneNumberError">
          <input
            nz-input
            name="phone_number"
            formControlName="phone_number"
            [showMaskTyped]="true"
            prefix="+998 "
            placeHolderCharacter="*"
            mask="(00) 000-00-00"
            type="tel"
            id="phone_number"
          />
        </nz-form-control>
        <ng-template #phoneNumberError let-control>
          <ng-container *ngIf="control.getError('required')">
            Ushbu maydonni to'ldiring
          </ng-container>
          <ng-container *ngIf="control.getError('mask')">
            Telefon nomerni to'liq kiriting
          </ng-container>
        </ng-template>
      </nz-form-item>

      <!--PASSWORD -->
      <nz-form-item class="gap-2">
        <nz-form-label nzFor="fullname">Password</nz-form-label>
        <nz-form-control [nzErrorTip]="passwordError">
          <input
            nz-input
            name="password"
            formControlName="password"
            type="text"
            id="password"
          />
        </nz-form-control>
        <ng-template #passwordError let-control>
          <ng-container *ngIf="control.getError('required')">
            Required field!
          </ng-container>
          <ng-container *ngIf="control.getError('minLength')">
            Required at least 8 characters!
          </ng-container>
        </ng-template>
      </nz-form-item>
    </div>
  </div>

  <div class="flex gap-1 justify-end">
    <button nz-button nzType="primary" (click)="submit()">
      {{ isEdit ? "Edit" : "Add" }}
    </button>
    <button nz-button (click)="reset()">Reset</button>
    <button nz-button (click)="goBack()">Cancel</button>
  </div>
</form>
