<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="{{ isEdit ? 'Edit employee' : 'Add employee' }}"
  (nzOnCancel)="cancel()"
  [nzFooter]="footer"
  nzWidth="400px"
>
<ng-container *nzModalContent>
  <form [formGroup]="form" nz-form class="py-4" >
    <!--FULL NAME -->
    <nz-form-item class="gap-2">
      <nz-form-label [nzSpan]="6" nzFor="fullname">Full Name</nz-form-label>
      <nz-form-control nzErrorTip="Required field!">
        <input
          nz-input
          name="fullname"
          formControlName="fullname"
          type="text"
          id="fullname"
        />
      </nz-form-control>
    </nz-form-item>
  
    <!-- PHONE NUMBER -->
    <nz-form-item class="gap-2">
      <nz-form-label [nzSpan]="6" nzFor="phone_number"
        >Phone number</nz-form-label
      >
      <nz-form-control [nzErrorTip]="phoneNumberError">
        <input
          nz-input
          name="phone_number"
          formControlName="phone_number"
          [showMaskTyped]="true"
          prefix="+998 "
          placeHolderCharacter="*"
          mask="(00) 000-00-00"
          type="tel"
          id="phone_number"
        />
      </nz-form-control>
      <ng-template #phoneNumberError let-control>
        <ng-container *ngIf="control.getError('required')">
          Ushbu maydonni to'ldiring
        </ng-container>
        <ng-container *ngIf="control.getError('mask')">
          Telefon nomerni to'liq kiriting
        </ng-container>
      </ng-template>
    </nz-form-item>

  </form>
</ng-container>
<ng-template #footer>
  <div class="flex gap-3 justify-end">
    <button nz-button nzType="primary" (click)="submit()">
      {{ isEdit ? "Edit" : "Add" }}
    </button>
    <button nz-button (click)="reset()">Reset</button>
  </div>
</ng-template>
</nz-modal>


