<nz-spin nzTip="Loading..." [nzSpinning]="isLoading">
  <div class="flex flex-col w-full">
    <div class="relative mb-4">
      <nz-divider nzText="Balances" nzOrientation="left"></nz-divider>
      <div
        class="absolute right-0 top-4 py-0 px-[15px] flex items-center gap-2"
      >
        <nz-date-picker
          [nzPlaceHolder]="'Select year & month'"
          nzMode="month"
        ></nz-date-picker>
      </div>
    </div>
    <div class="mx-auto flex items-center justify-center">
      <ngx-charts-bar-horizontal
        [view]="view"
        [scheme]="soldProductsColorScheme"
        [results]="SoldProducts"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [legendPosition]="soldProductsLegendPosition"
        [legendTitle]="'Products'"
      >
      </ngx-charts-bar-horizontal>
      <ngx-charts-bar-horizontal
        [view]="view"
        [scheme]="soldProductsColorScheme"
        [results]="RemainedProducts"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [legendPosition]="soldProductsLegendPosition"
        [legendTitle]="'Products'"
      >
      </ngx-charts-bar-horizontal>
    </div>
  </div>
</nz-spin>
