<a (click)="goBack()" class="flex items-center gap-2 font-bold text-base mb-5">
  <!-- NAVIGATE TO BACK -->
  <span nz-icon nzType="arrow-left" nzTheme="outline"></span>
  {{ isEdit ? "Edit" : "Add" }}</a
>
<form [formGroup]="form" nzLayout="vertical" nz-form>
  <div nz-row [nzGutter]="20">
    <div nz-col nzSpan="12">
      <!-- MARKET NAME -->
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="market_name"
          >Market name</nz-form-label
        >
        <nz-form-control nzErrorTip="Required field!">
          <input
            nz-input
            name="market_name"
            formControlName="market_name"
            type="text"
            id="market_name"
          />
        </nz-form-control>
      </nz-form-item>

      <!-- PHONE -->
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="phone_number">Phone number</nz-form-label>
        <nz-form-control [nzErrorTip]="phoneNumberError">
          <input
            nz-input
            name="phone_number"
            formControlName="phone_number"
            [showMaskTyped]="true"
            type="tel"
            id="phone_number"
            placeHolderCharacter="*"
            prefix="+998 "
            [showMaskTyped]="true"
            [mask]="'(00) 000-00-00'"
          />
        </nz-form-control>
        <ng-template #phoneNumberError let-control>
          <ng-container *ngIf="control.getError('required')">
            Ushbu maydonni to'ldiring
          </ng-container>
          <ng-container *ngIf="control.getError('mask')">
            Telefon nomerni to'liq kiriting
          </ng-container>
        </ng-template>
      </nz-form-item>

      <!-- LOCATION -->
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="location">Location</nz-form-label>
        <nz-form-control nzErrorTip="Required field!">
          <input
            nz-input
            name="location"
            formControlName="location"
            type="text"
            id="location"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div class="flex gap-1 justify-end">
    <button nz-button nzType="primary" (click)="submit('Add')">
      {{ isEdit ? "Edit" : "Add" }}
    </button>
    <button nz-button (click)="reset()">Clear</button>
    <button nz-button (click)="goBack()">Cancel</button>
  </div>
</form>
