<a (click)="goBack()" class="flex items-center gap-2 font-bold text-xs mb-5">
  <!-- NAVIGATE TO BACK -->
  <span nz-icon nzType="arrow-left" nzTheme="outline"></span>
  {{ (isEdit ? "actions.edit" : "actions.add") | translate }}</a
>

<form [formGroup]="form" nzLayout="vertical" nz-form>
  <div class="flex flex-col w-3/5 mx-auto">
    <div nzSpan="12">
      <!-- MARKET NAME -->
      <nz-form-item>
        <nz-form-label nzFor="market_name">{{
          "sections.market" | translate
        }}</nz-form-label>
        <nz-form-control [nzErrorTip]="'inputs.fill' | translate">
          <input
            nz-input
            name="market_name"
            formControlName="market_name"
            type="text"
            id="market_name"
          />
        </nz-form-control>
      </nz-form-item>

      <!-- PHONE -->
      <nz-form-item>
        <nz-form-label nzFor="phone_number">{{
          "employee.phone" | translate
        }}</nz-form-label>
        <nz-form-control [nzErrorTip]="phoneNumberError">
          <input
            nz-input
            name="phone_number"
            formControlName="phone_number"
            [showMaskTyped]="true"
            type="tel"
            id="phone_number"
            placeHolderCharacter="*"
            prefix="+998 "
            [mask]="'(00) 000-00-00'"
          />
        </nz-form-control>
        <ng-template #phoneNumberError let-control>
          <ng-container *ngIf="control.getError('required')">
            {{ "inputs.fill" | translate }}
          </ng-container>
          <ng-container *ngIf="control.getError('mask')">
            {{ "inputs.phoneNumberInput" | translate }}
          </ng-container>
        </ng-template>
      </nz-form-item>

      <!-- LOCATION -->
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="location">{{
          "markets.address" | translate
        }}</nz-form-label>
        <nz-form-control nzErrorTip="Required field!">
          <input
            nz-input
            name="location"
            formControlName="location"
            type="text"
            id="location"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div class="flex gap-1 justify-end">
    <button nz-button nzType="primary" (click)="submit()">
      {{ (isEdit ? "actions.edit" : "actions.add") | translate }}
    </button>
    <button nz-button (click)="reset()">
      {{ "actions.clear" | translate }}
    </button>
    <button nz-button (click)="goBack()">
      {{ "actions.cancel" | translate }}
    </button>
  </div>
</form>
