<nz-table
  #groupingTable
  nzSize="middle"
  [nzData]="data || []"
  [nzLoading]="isLoading"
  [nzPageSizeOptions]="pages.pageSizeOptions"
  (nzPageIndexChange)="handlePageIndexChange($event)"
  (nzPageSizeChange)="handlePageSizeChange($event)"
  [nzFrontPagination]="false"
  [nzPageIndex]="pages.pageIndex"
  [nzPageSize]="pages.pageSize"
  [nzTotal]="getQtyOrders()"
  nzBordered
>
  <thead>
    <tr>
      <th nzWidth="10%" nzAlign="center" rowSpan="2">ID (Name)</th>
      <th nzWidth="15%" nzAlign="center" colspan="3">Products</th>
      <th nzWidth="15%" nzAlign="center" rowSpan="2">Paid</th>
      <th nzWidth="15%" nzAlign="center" rowSpan="2">Total</th>
      <th class="w-[150px]" nzAlign="center" rowSpan="2">Operations</th>
    </tr>
    <tr>
      <th nzAlign="center">Code</th>
      <th nzAlign="center">Qty</th>
      <th nzAlign="center">Price</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let order of groupingTable.data; let i = index">
      <tr *ngFor="let product of order.products; let j = index">
        <td *ngIf="j === 0" [attr.rowspan]="order.products.length" nzAlign="center">{{ order.client_name }}</td>
        <td nzAlign="center">{{ product.productId }}</td>
        <td nzAlign="center">{{ product.qty }}</td>
        <td nzAlign="center">{{ product.price }}</td>
        <td *ngIf="j === 0" [attr.rowspan]="order.products.length" nzAlign="center">{{ order.paid }}</td>
        <td *ngIf="j === 0" [attr.rowspan]="order.products.length" nzAlign="center">{{ order.totalAmount }}</td>
        <td *ngIf="j === 0" [attr.rowspan]="order.products.length" nzAlign="center" rowspan="2">
          <div class="flex items-center gap-x-3 justify-center">
            <button
              nz-button
              nzType="default"
              class="flex items-center justify-center"
            >
              <span nz-icon nzType="edit" nzTheme="outline"></span>
            </button>
            <button
              nz-button
              nzType="primary"
              nzDanger
              class="flex items-center justify-center"
            >
              <span nz-icon nzType="delete" nzTheme="outline"></span>
            </button>
          </div>
        </td>
      </tr>
    </ng-container>
  </tbody>
</nz-table>
