<div class="flex flex-col w-full">
  <div class="relative mb-4">
    <nz-divider [nzText]="'employee.title' | translate" nzOrientation="left"></nz-divider>
    <div class="absolute right-0 top-4 py-0 px-[15px] flex items-center gap-2">
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch>
          <span nz-icon nzType="search"></span>
        </button>
      </ng-template>
      <button
        [routerLink]="['add']"
        nz-button
        nzType="primary"
        class="flex items-center justify-center"
      >
        <span nz-icon nzType="plus" nzTheme="outline"></span>
      </button>
    </div>
  </div>

  <nz-table
    #basicTable
    [nzData]="data || []"
    [nzLoading]="isLoading"
    nzBordered
  >
    <thead>
      <tr>
        <th nzWidth="20%" [nzAlign]="'center'">
          <div class="flex items-center justify-center gap-1">
            <p>{{"employee.fullName" | translate}}</p>
            <span nz-icon nzType="user" nzTheme="outline"></span>
          </div>
        </th>
        <th nzWidth="15%" [nzAlign]="'center'">
          <div class="flex items-center justify-center gap-1">
            <p>{{"employee.fullName" | translate}}</p>
            <span nz-icon nzType="phone" nzTheme="twotone"></span>
          </div>
        </th>
        <th nzWidth="20%" [nzAlign]="'center'">
          <div class="flex items-center justify-center gap-1">
            <p>{{"balance" | translate}}</p>
            <span nz-icon nzType="dollar" nzTheme="twotone"></span>
          </div>
        </th>
        <th nzWidth="20%" [nzAlign]="'center'">
          <div class="flex items-center justify-center gap-1">
            <p>{{"markets.debt" | translate}}</p>
            <span nz-icon nzType="dollar" nzTheme="twotone"></span>
          </div>
        </th>
        <th nzWidth="10%" [nzAlign]="'center'">
          <div class="flex items-center justify-center gap-1">
            <p>{{"transactions.title" | translate}}</p>
            <span nz-icon nzType="interaction" nzTheme="twotone"></span>
          </div>
        </th>
        <th nzWidth="10%" [nzAlign]="'center'">{{"markets.orders" | translate}}</th>
        <th [nzAlign]="'center'">{{"sections.operations" | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td [nzAlign]="'center'">{{ data.fullname }}</td>
        <td [nzAlign]="'center'">{{ data.phone_number }}</td>
        <td [nzAlign]="'center'">{{ data.balance | number }} $</td>
        <td [nzAlign]="'center'">{{ data.debt | number }} $</td>
        <td [nzAlign]="'center'">
          <button
            nz-button
            nzType="link"
            [routerLink]="['transactions', data._id]"
          >
            <span nz-icon nzType="link" nzTheme="outline"></span>
          </button>
        </td>
        <td [nzAlign]="'center'">
          <button nz-button nzType="link" [routerLink]="['orders', data._id]">
            <span nz-icon nzType="link" nzTheme="outline"></span>
          </button>
        </td>
        <td [nzAlign]="'center'">
          <div class="flex items-center justify-center gap-x-3">
            <button
              nz-button
              nzType="default"
              class="flex items-center justify-center"
              [routerLink]="['edit', data._id]"
            >
              <span nz-icon nzType="edit" nzTheme="outline"></span>
            </button>
            <button
              nz-button
              nzType="primary"
              nzDanger
              class="flex items-center justify-center"
              (click)="showDeleteConfirm(data._id)"
            >
              <span nz-icon nzType="delete" nzTheme="outline"></span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
