<nz-table
  #basicTable
  nzSize="middle"
  [nzData]="data || []"
  [nzLoading]="isLoading"
  nzFrontPagination="false"
  nzBordered
>
  <thead>
    <tr>
      <th nzAlign="center" rowSpan="2">{{ "markets.title" | translate }}</th>
      <th nzAlign="center" colspan="5">{{ "products.title" | translate }}</th>
      <th nzAlign="center" rowSpan="2">
        <div class="flex items-center gap-1 justify-center">
          <p>{{ "sections.paid" | translate }}</p>
          <span nz-icon nzType="dollar-circle" nzTheme="twotone"></span>
        </div>
      </th>
      <th nzAlign="center" rowSpan="2">
        <div class="flex items-center gap-1 justify-center">
          <p>{{ "sections.total" | translate }}</p>
          <span nz-icon nzType="dollar-circle" nzTheme="twotone"></span>
        </div>
      </th>
      <th nzAlign="center" rowSpan="2">
        <div class="flex items-center gap-1 justify-center">
          <p>{{ "order.createdDay" | translate }}</p>
          <span nz-icon nzType="calendar" nzTheme="twotone"></span>
        </div>
      </th>
    </tr>
    <tr>
      <th nzAlign="center">{{ "sections.name" | translate }}</th>
      <th nzAlign="center">
        <div class="flex items-center justify-center gap-1">
          <span nz-icon nzType="number" nzTheme="outline"></span>
          <p>{{ "products.code" | translate }}</p>
        </div>
      </th>
      <th nzAlign="center">{{ "products.qty" | translate }}</th>
      <th nzAlign="center">
        <div class="flex items-center gap-1 justify-center">
          <p>{{ "sections.price" | translate }}</p>
          <span nz-icon nzType="dollar-circle" nzTheme="twotone"></span>
        </div>
      </th>
      <th nzAlign="center">
        <div class="flex items-center gap-1 justify-center">
          <p>{{ "products.soldPrice" | translate }}</p>
          <span nz-icon nzType="dollar-circle" nzTheme="twotone"></span>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let order of basicTable.data; let i = index">
      <tr *ngFor="let product of order.products; let j = index">
        <td
          *ngIf="j === 0"
          [attr.rowspan]="order.products.length"
          nzAlign="center"
        >
          {{ order.client_name || order.market_name }}
        </td>
        <td nzAlign="center">{{ product.name }}</td>
        <td nzAlign="center">{{ product.code }}</td>
        <td nzAlign="center">
          {{ product.qty | number }}
          {{ "quantity." + product.unit | translate }}
        </td>
        <td nzAlign="center">
          <ng-container
            *ngIf="product.price === product.soldPrice; else regularPrice"
          >
            <del>{{ product.price | number }} {{ "sum" | translate }}</del>
          </ng-container>
          <ng-template #regularPrice>
            {{ product.price | number }} {{ "sum" | translate }}
          </ng-template>
        </td>
        <td nzAlign="center">
          {{ product.soldPrice | number }} {{ "sum" | translate }}
        </td>
        <td
          *ngIf="j === 0"
          [attr.rowspan]="order.products.length"
          nzAlign="center"
        >
          {{ order.paid | number }} {{ "sum" | translate }}
        </td>
        <td
          *ngIf="j === 0"
          [attr.rowspan]="order.products.length"
          nzAlign="center"
        >
          {{ order.totalAmount | number }} {{ "sum" | translate }}
        </td>
        <td
          *ngIf="j === 0"
          [attr.rowspan]="order.products.length"
          nzAlign="center"
        >
          {{ order.createdAt | date : "medium" }}
        </td>
      </tr>
    </ng-container>
  </tbody>
</nz-table>
