<nz-table
  #basicTable
  nzSize="middle"
  [nzData]="data || []"
  [nzLoading]="isLoading"
  nzFrontPagination="false"
  nzBordered
>
  <thead>
    <tr>
      <th nzAlign="center" rowSpan="2">Name</th>
      <th nzAlign="center" colspan="5">Products</th>
      <th nzAlign="center" rowSpan="2">
        <div class="flex items-center gap-1 justify-center">
          <p>Paid</p>
          <span nz-icon nzType="dollar-circle" nzTheme="twotone"></span>
        </div>
      </th>
      <th nzAlign="center" rowSpan="2">
        <div class="flex items-center gap-1 justify-center">
          <p>Total</p>
          <span nz-icon nzType="dollar-circle" nzTheme="twotone"></span>
        </div>
      </th>
      <th nzAlign="center" rowSpan="2">
        <div class="flex items-center gap-1 justify-center">
          <p>Created day</p>
          <span nz-icon nzType="calendar" nzTheme="twotone"></span>
        </div>
      </th>
    </tr>
    <tr>
      <th nzAlign="center">Name</th>
      <th nzAlign="center">
        <div class="flex items-center justify-center gap-1">
          <span nz-icon nzType="number" nzTheme="outline"></span>
          <p>Code</p>
        </div>
      </th>
      <th nzAlign="center">Qty</th>
      <th nzAlign="center">
        <div class="flex items-center gap-1 justify-center">
          <p>Price</p>
          <span nz-icon nzType="dollar-circle" nzTheme="twotone"></span>
        </div>
      </th>
      <th nzAlign="center">
        <div class="flex items-center gap-1 justify-center">
          <p>Sold Price</p>
          <span nz-icon nzType="dollar-circle" nzTheme="twotone"></span>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let order of basicTable.data; let i = index">
      <tr *ngFor="let product of order.products; let j = index">
        <td
          *ngIf="j === 0"
          [attr.rowspan]="order.products.length"
          nzAlign="center"
        >
          {{ order.client_name || order.client_type }}
        </td>
        <td nzAlign="center">{{ product.name }}</td>
        <td nzAlign="center">{{ product.code }}</td>
        <td nzAlign="center">{{ product.qty | number }} {{ product.unit }}</td>
        <td nzAlign="center">
          <ng-container
            *ngIf="product.price === product.soldPrice; else regularPrice"
          >
            <del>{{ product.price | number }} sum</del>
          </ng-container>
          <ng-template #regularPrice>
            {{ product.price | number }} sum
          </ng-template>
        </td>
        <td nzAlign="center">{{ product.soldPrice | number }} sum</td>
        <td
          *ngIf="j === 0"
          [attr.rowspan]="order.products.length"
          nzAlign="center"
        >
          {{ order.paid | number }} sum
        </td>
        <td
          *ngIf="j === 0"
          [attr.rowspan]="order.products.length"
          nzAlign="center"
        >
          {{ order.totalAmount | number }} sum
        </td>
        <td
          *ngIf="j === 0"
          [attr.rowspan]="order.products.length"
          nzAlign="center"
        >
          {{ order.createdAt | date : "medium" }}
        </td>
      </tr>
    </ng-container>
  </tbody>
</nz-table>
