<div class="flex flex-col w-full">
  <div class="relative mb-4">
    <nz-divider
      [nzText]="'employee.employeeOrders' | translate"
      nzOrientation="left"
    ></nz-divider>
    <div class="absolute right-0 top-4 py-0 px-[15px] flex items-center gap-2">
      <nz-input-group
        nzSearch
        [nzSuffix]="inputClearTpl"
        [nzAddOnAfter]="suffixIconButton"
      >
        <input
          [(ngModel)]="searchText"
          (ngModelChange)="handleSearchTextChange($event)"
          type="text"
          nz-input
          [placeholder]="'orders.search' | translate"
          (keyup.enter)="handleSearch(searchText)"
        />
      </nz-input-group>

      <ng-template #inputClearTpl>
        <span
          nz-icon
          class="ant-input-clear-icon"
          nzTheme="fill"
          nzType="close-circle"
          [hidden]="!searchText"
          (click)="clear()"
        ></span>
      </ng-template>
      <ng-template #suffixIconButton>
        <button
          (click)="handleSearch(searchText)"
          nz-button
          nzType="primary"
          nzSearch
        >
          <span nz-icon nzType="search"></span>
        </button>
      </ng-template>
    </div>
  </div>

  <nz-table
    #groupingTable
    nzSize="middle"
    [nzData]="data || []"
    [nzLoading]="isLoading"
    [nzPageSizeOptions]="pages.pageSizeOptions"
    (nzPageIndexChange)="handlePageIndexChange($event)"
    (nzPageSizeChange)="handlePageSizeChange($event)"
    [nzFrontPagination]="false"
    [nzPageIndex]="pages.pageIndex"
    [nzPageSize]="pages.pageSize"
    [nzTotal]="getQtyOrders()"
    nzBordered
  >
    <thead>
      <tr>
        <th nzWidth="10%" nzAlign="center">
          {{ "sections.name" | translate }}
        </th>
        <th nzWidth="35%" nzAlign="center">
          <div class="flex items-center gap-1 justify-center">
            <p>{{ "sections.paid" | translate }}</p>
            <span nz-icon nzType="dollar-circle" nzTheme="twotone"></span>
          </div>
        </th>
        <th nzWidth="35%" nzAlign="center">
          <div class="flex items-center gap-1 justify-center">
            <p>{{ "sections.total" | translate }}</p>
            <span nz-icon nzType="dollar-circle" nzTheme="twotone"></span>
          </div>
        </th>
        <th nzWidth="10%" nzAlign="center">
          {{ "products.title" | translate }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of groupingTable.data; let i = index">
        <td nzAlign="center">{{ order.client_name || order.market_name }}</td>
        <td nzAlign="center">
          {{ order.paid | number }} {{ "sum" | translate }}
        </td>
        <td nzAlign="center">
          {{ order.totalAmount | number }} {{ "sum" | translate }}
        </td>
        <td nzAlign="center">
          <button
            nz-button
            nzType="link"
            [routerLink]="['order', order._id]"
            class="flex items-center justify-center mx-auto"
          >
            <span nz-icon nzType="link" nzTheme="outline"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
