<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="'transactions.add' | translate"
  (nzOnCancel)="cancel()"
  [nzFooter]="footer"
  nzWidth="400px"
>
  <ng-container *nzModalContent>
    <div class="flex items-center gap-2 w-full">
      <form [formGroup]="form" nz-form nzLayout="vertical" class="w-full">
        <!-- TRANSFER AMOUNT PAID -->
        <nz-form-item class="w-full">
          <nz-form-label nzFor="amountPaid">{{
            "transactions.enterTransactions" | translate
          }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'inputs.fill' | translate">
            <input
              class="w-full"
              nz-input
              name="amountPaid"
              formControlName="amountPaid"
              type="text"
              mask="separator.2"
              thousandSeparator=" "
              id="amountPaid"
            />
          </nz-form-control>
        </nz-form-item>
      </form>
      <p class="mt-4">$</p>
    </div>
  </ng-container>

  <ng-template #footer>
    <button nz-button nzType="primary" (click)="submit()">
      {{ "actions.add" | translate }}
    </button>
    <button nz-button (click)="reset()">
      {{ "actions.clear" | translate }}
    </button>
    <button nz-button (click)="cancel()">
      {{ "actions.cancel" | translate }}
    </button>
  </ng-template>
</nz-modal>
