<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="{{ isEdit ? 'Edit Transaction' : 'Add Transaction' }}"
  (nzOnCancel)="cancel()"
  [nzFooter]="footer"
  nzWidth="400px"
>
  <ng-container *nzModalContent>
    <div class="flex items-center gap-2 w-full">
      <form [formGroup]="form" nz-form nzLayout="vertical" class="w-full">
        <!-- TRANSFER AMOUNT PAID -->
        <nz-form-item class="w-full">
          <nz-form-label nzFor="amountPaid">Transfer your amount paid</nz-form-label>
          <nz-form-control nzErrorTip="Required field!">
            <input
            class="w-full"
              nz-input
              name="amountPaid"
              formControlName="amountPaid"
              type="text"
              mask="separator.2" 
              thousandSeparator=" "
              id="amountPaid"
            />
          </nz-form-control>
        </nz-form-item>
      </form>
      <p class="mt-4">sum</p>
    </div>
  </ng-container>

  <ng-template #footer>
    <button nz-button nzType="primary" (click)="submit()">
      {{ (isEdit ? "Edit" : "Add") }}
    </button>
    <button nz-button (click)="reset()">Clear</button>
    <button nz-button (click)="cancel()">
      Cancel
    </button>
  </ng-template>
</nz-modal>
