<a (click)="goBack()" class="flex items-center gap-2 font-bold text-xs mb-5">
  <!-- NAVIGATE TO BACK -->
  <span nz-icon nzType="arrow-left" nzTheme="outline"></span>
  {{ "actions.add" | translate }}</a
>

<form [formGroup]="form" nz-form>
  <div class="flex flex-col w-full">
    <nz-tabset nzType="card" (nzSelectedIndexChange)="handleTabChange($event)">
      <nz-tab
        [nzTitle]="'sections.market' | translate"
        [tabindex]="selectedTab.id"
      >
        <div class="w-full flex items-center my-6 justify-between">
          <!-- MARKETS -->
          <nz-form-item class="mb-0" nzSpan="16">
            <nz-form-label nzRequired nzFor="markets">{{
              "order.chooseMarket" | translate
            }}</nz-form-label>
            <nz-form-control class="w-full" [nzErrorTip]="marketError">
              <nz-select
                nzShowSearch
                nzAllowClear
                [nzPlaceHolder]="'order.selectMarket' | translate"
                formControlName="market_id"
                id="markets"
              >
                <ng-container *ngFor="let market of markets">
                  <nz-option
                    *ngIf="markets"
                    [nzLabel]="market.market_name"
                    [nzValue]="market._id"
                  ></nz-option>
                </ng-container>
                <nz-option *ngIf="!markets" nzDisabled nzCustomContent>
                  <span nz-icon nzType="loading" class="loading-icon"></span>
                  {{ "order.loadingMarkets" | translate }}
                </nz-option>
              </nz-select>
            </nz-form-control>
            <ng-template #marketError let-control>
              <ng-container *ngIf="control.getError('required')">
                {{ "inputs.market.select" | translate }}
              </ng-container>
            </ng-template>
          </nz-form-item>

          <button
            nz-button
            nzType="primary"
            class="flex items-center justify-center"
            (click)="addProduct()"
            nzSpan="8"
          >
            <span nz-icon nzType="plus" nzTheme="outline"></span>
            {{ "order.addProduct" | translate }}
          </button>
        </div>
      </nz-tab>
      <nz-tab [nzTitle]="'sections.client' | translate" [tabindex]="selectedTab.id">
        <div class="w-full flex items-center justify-between my-6">
          <!-- CLIENT NAME -->
          <nz-form-item class="mb-0" nzSpan="16">
            <nz-form-label nzRequired nzFor="client_name">{{
              "order.clientName" | translate
            }}</nz-form-label>
            <nz-form-control [nzErrorTip]="clientError">
              <input
                nz-input
                name="client_name"
                formControlName="client_name"
                type="text"
                id="client_name"
              />
            </nz-form-control>
            <ng-template #clientError let-control>
              <ng-container *ngIf="control.getError('required')">
                {{ "inputs.fill" | translate }}
              </ng-container>
              <ng-container *ngIf="control.errors?.['minlength']">
                {{ "client.min" | translate }}
              </ng-container>
            </ng-template>
          </nz-form-item>

          <button
            nz-button
            nzType="primary"
            class="flex items-center justify-center"
            (click)="addProduct()"
            nzSpan="8"
          >
            <span nz-icon nzType="plus" nzTheme="outline"></span>
            {{ "order.addProduct" | translate }}
          </button>
        </div>
      </nz-tab>
    </nz-tabset>
  </div>

  <div>
    <nz-table nzTemplateMode #editRowTable nzBordered nzFrontPagination="false">
      <thead>
        <tr>
          <th nzWidth="20%" nzAlign="center">
            {{ "order.chooseProduct" | translate }}
          </th>
          <th nzWidth="15%" nzAlign="center">
            {{ "order.enterProductQuantity" | translate }}
          </th>
          <th nzWidth="20%" nzAlign="center">
            {{ "order.enterProductPrice" | translate }}
          </th>
          <th nzWidth="35%" nzAlign="center">
            {{ "order.totalPrice" | translate }}
          </th>
          <th nzWidth="10%" nzAlign="center">
            {{ "sections.operations" | translate }}
          </th>
        </tr>
      </thead>
      <tbody formArrayName="products">
        <tr
          *ngFor="let product of products.controls; let i = index"
          [formGroupName]="i"
          class="editable-row"
          nzAlign="center"
        >
          <td>
            <nz-form-item class="mb-0">
              <nz-form-control [nzErrorTip]="selectedProduct">
                <nz-select
                  required
                  nzShowSearch
                  nzAllowClear
                  class="w-full"
                  [nzPlaceHolder]="'order.selectProdocts' | translate"
                  formControlName="productId"
                  id="products"
                  class="w-full"
                  (ngModelChange)="
                    setProductQty(i, product.value.productId, true)
                  "
                >
                  <ng-container
                    *ngFor="let product of productsData; let j = index"
                  >
                    <nz-option
                      class="w-full"
                      [nzLabel]="product.name"
                      [nzValue]="product._id"
                    ></nz-option>
                  </ng-container>
                  <nz-option *ngIf="!product" nzDisabled nzCustomContent>
                    <span nz-icon nzType="loading" class="loading-icon"></span>
                    Loading products...
                  </nz-option>
                </nz-select>
              </nz-form-control></nz-form-item
            >
            <ng-template #selectedProduct let-control>
              <ng-container *ngIf="control.getError('required')">
                {{ "inputs.product.select" | translate }}
              </ng-container>
              <!-- <ng-container *ngIf="control.getError('mask')">
                Telefon nomerni to'liq kiriting
              </ng-container> -->
            </ng-template>
          </td>
          <td nzAlign="center">
            <div class="flex items-center gap-2">
              <nz-form-item class="mb-0 w-full">
                <nz-form-control
                  [nzErrorTip]="'inputs.fill' | translate"
                  class="w-full"
                >
                  <input
                    required
                    nz-input
                    name="qty"
                    type="text"
                    id="qty"
                    (ngModelChange)="setProductQty(i, product.value.productId)"
                    formControlName="qty"
                    mask="separator.2"
                    thousandSeparator=" "
                  />
                </nz-form-control>
              </nz-form-item>
              <p class="mt-auto w-fit">
                {{ getProductUnit(product.value.productId) }}
              </p>
            </div>
          </td>
          <td nzAlign="center">
            <div class="flex items-center gap-2">
              <nz-form-item class="mb-0 w-full">
                <nz-form-control [nzErrorTip]="'inputs.fill' | translate">
                  <input
                    required
                    nz-input
                    name="price"
                    type="text"
                    id="price"
                    formControlName="price"
                    (ngModelChange)="updateOverallPrice(i, $event)"
                    mask="separator.2"
                    thousandSeparator=" "
                  />
                </nz-form-control>
              </nz-form-item>
              <p class="mt-auto w-fit">$</p>
            </div>
          </td>
          <td nzAlign="center">
            <div class="flex items-center gap-2">
              <nz-form-item class="mb-0 w-full">
                <nz-form-control [nzErrorTip]="'inputs.fill' | translate">
                  <input
                    nz-input
                    name="overallPrice"
                    formControlName="overallPrice"
                    type="text"
                    id="overallPrice"
                    mask="separator.2"
                    thousandSeparator=" "
                  />
                </nz-form-control>
              </nz-form-item>
              <p class="mt-auto w-fit">$</p>
            </div>
          </td>
          <td nzAlign="center">
            <button
              nz-popconfirm
              [nzOkText]="'actions.ok' | translate"
              [nzCancelText]="'actions.cancel' | translate"
              [nzPopconfirmTitle]="'actions.deleteConsfirm' | translate"
              [disabled]="products.controls.length === 1"
              (nzOnConfirm)="removeProduct(i)"
              nz-button
              nzType="primary"
              nzDanger
              class="flex items-center justify-center mx-auto"
            >
              <span nz-icon nzType="delete" nzTheme="outline"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <div class="mt-6 flex">
    <p class="font-bold text-xs w-1/2">
      {{ "order.overallPrice" | translate }}: {{ orderTotalPrice | number }}
      $
    </p>
    <nz-form-item class="w-1/2">
      <nz-form-label
        nzFor="paid"
        nzRequired
        [nzTooltipTitle]="'order.tooltipPaidPrice' | translate"
      >
        <span>{{ "order.enterPsidPrice" | translate }}</span>
      </nz-form-label>
      <nz-form-control [nzErrorTip]="'inputs.fill' | translate">
        <input
          nz-input
          class="w-full"
          name="paid"
          formControlName="paid"
          type="text"
          id="paid"
          mask="separator.2"
          thousandSeparator=" "
        />
      </nz-form-control>
      <p class="mb-0 self-end ml-2">$</p>
    </nz-form-item>
  </div>

  <div class="flex gap-1 justify-end my-6">
    <button
      nz-button
      nzType="primary"
      [disabled]="form.invalid"
      (click)="submit()"
    >
      {{ "order.addOrder" | translate }}
    </button>
    <button nz-button (click)="reset()">
      {{ "actions.clear" | translate }}
    </button>
    <button nz-button (click)="goBack()">
      {{ "actions.cancel" | translate }}
    </button>
  </div>
</form>
