<main class="h-full">
  <section class="h-full flex flex-col justify-center">
    <div class="mx-auto max-w-xl w-full flex items-center justify-center">
      <div class="w-full flex flex-col mx-auto items-center">
        <h2 nz-typography class="text-slate-800 text-lg font-black mb-6">
          {{ "login.title" | translate }}
        </h2>
        <div class="max-w-xs w-full">
          <nz-select
            nzSize="large"
            [(ngModel)]="selectedValue"
            [ngModelOptions]="{ standalone: true }"
            [compareWith]="compareFn"
            (ngModelChange)="log($event)"
            class="mt-2 mb-6 w-full"
            nzAllowClear
            [nzPlaceHolder]="selectedValue.label"
          >
          [nzLabel]="'quantity.' + unit.label | translate"
            <nz-option
              *ngFor="let option of optionList"
              class="h-full"
              [nzValue]="option"
              [nzLabel]="'role.' + option.label | translate"
            ></nz-option>
          </nz-select>
          <form
            nz-form
            [formGroup]="form"
            (ngSubmit)="login(selectedValue.value)"
          >
            <nz-form-item>
              <nz-form-control [nzErrorTip]="phoneNumberError">
                <nz-input-group nzPrefixIcon="phone" class="px-4">
                  <input
                    type="tel"
                    nz-input
                    class="h-full my-2"
                    formControlName="phone_number"
                    [showMaskTyped]="true"
                    prefix="+998 "
                    placeHolderCharacter="*"
                    mask="(00) 000-00-00"
                    nzSize="large"
                  />
                </nz-input-group>
              </nz-form-control>
              <ng-template #phoneNumberError let-control>
                <ng-container *ngIf="control.getError('required')">
                  {{ "inputs.fill" | translate }}
                </ng-container>
                <ng-container *ngIf="control.getError('mask')">
                  {{ "inputs.phoneNumberInput.enter" | translate }}
                </ng-container>
              </ng-template>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control [nzErrorTip]="passwordError">
                <nz-input-group
                  nzPrefixIcon="lock"
                  [nzSuffix]="suffixTemplate"
                  class="px-4"
                >
                  <input
                    [type]="passwordVisible ? 'text' : 'password'"
                    nz-input
                    class="h-full my-2"
                    formControlName="password"
                    [placeholder]="'inputs.passwordInput.title' | translate"
                    nzSize="large"
                    autocomplete="on"
                  />
                </nz-input-group>
                <ng-template #suffixTemplate>
                  <i
                    nz-icon
                    [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                    class="cursor-pointer"
                    (click)="passwordVisible = !passwordVisible"
                  ></i>
                </ng-template>
              </nz-form-control>
              <ng-template #passwordError let-control>
                <ng-container *ngIf="control.getError('required')">
                  {{ "inputs.fill" | translate }}
                </ng-container>
                <ng-container *ngIf="control.errors?.['minlength']">
                  {{ "inputs.passwordInput.min" | translate }}
                </ng-container>
              </ng-template>
            </nz-form-item>
            <button
              *ngIf="!isLogin"
              nz-button
              class="w-full"
              nzSize="large"
              [nzType]="'primary'"
            >
              {{ "login.logIn" | translate }}
            </button>
            <button
              nz-button
              *ngIf="isLogin"
              disabled="true"
              nzType="primary"
              nzLoading
              class="w-full !bg-[#1890ff] !text-white"
              nzSize="large"
            >
              <span nz-icon nzType="poweroff"></span>
              {{ "login.loading" | translate }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
